@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
body {
  font-family: "poppins", sans-serif;
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
.custom-blue {
  background-color: rgba(0, 86, 255, 0.3);
}



.custom-tel-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #1e1e1e !important;
  color: white !important;
}
.custom-tel-input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}